@page
@model BuyMovies.Pages.MovieTransactions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MovieTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieTransaction.Id" />
            <div class="form-group">
                <label asp-for="MovieTransaction.MovieId" class="control-label"></label>
                <select asp-for="MovieTransaction.MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
                <span asp-validation-for="MovieTransaction.MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieTransaction.CustomerId" class="control-label"></label>
                <select asp-for="MovieTransaction.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="MovieTransaction.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-secondary"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
